@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #c2ecf1;
  animation: topdown 1s;
}

h1 {
  max-width: 100%;
  height: 100px;
  margin: 50px auto 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  animation: topdown 1s;
}

p {
  color: black;
  max-width: 1155px;
  margin: 20px;
  text-align: justify;
  font-size: 18px;
}



img {
margin-left: 16px;
margin-right: 16px;
  border-radius: 7px;
  width: 300px;
  height: 200px;

}

main {
  padding: 2em;
  max-width: 1555px;
  margin: 0 auto;
}
  .voltar{
    width: 120px;
    height: 43px;
    margin-top: 50px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: rgb(229, 252, 250);
    margin-bottom: 50px;
  }

a {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  color: #6a5acd;
  font-weight: bold;
  text-decoration: none;
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  padding-top: 20px;
  float: right;
  margin-left: 20px;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
    width: 100%;
    background-color:#3b4d9e;
    padding: 50px 0;
    flex-shrink: 0;
    align-items: center;
  }
  
  .contanier-footer {
    max-width: 1350px;
    padding: 0 4%;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    padding: 0 15px;
    width: 25%;
  }
  
  .footer-col h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col ul li {
    margin: 10px 0;
  }
  
  .footer-col ul li a {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #6e6c6c;
    padding-left: 10px;
  }
  
  .footer-col .rede-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    transition: all 0.8s ease;
    margin: 5px 5px;
  }
  
  .footer-col .rede-sociais a:hover {
    color: navy;
    background-color: white;
  }
  
  .footer-col .form-insc input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    background-color: rgb(151, 196, 224);
    color: white;
    border: 1px solid white;
  }
  
  .footer-col .form-insc button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: #6a5acd;
    font-weight: bold;
  }
  
  header {
    width: 100%;
    background-color: #3b4d9e;
    padding: 20px 0;
    flex-shrink: 0;
    align-items: center;
  }
  
  .container-header {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .logo h2 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 480px) {
  h1 {
    width: 90%;
  }

  .item1 img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 30px;
  }

  .item {
    width: 100%;
    height: auto;
    margin: 0 0 30px;
  }

  .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
  }
}

@media(max-width: 850px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px
  }
}

@media(max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}