@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: #c2ecf1;
    animation: topdown 1s;
    /* display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}

.container {
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container h2 {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-weight: 500;
}

.container label {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    height: 25px;
    border: transparent;
    border-bottom: 1px solid black;
    outline: none;
}

.icons{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.icons img{
    width: 30px;
}
a{
    text-decoration: none;
    font-size: 14px;
}

.container input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}

.forgot,
.register{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.forgot-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.forgot:hover,
.register:hover{
    border-bottom: 1px solid black;
    font-size: 14px;
    transition: 1s;
    transform: scale(1);
}

.icons img:hover{
    width: 40px;
    transition: 1s;
    transform: scale(1);
}

.container input[type="submit"] {
    font-size: 18px; 
  }
  

a:focus {
    text-decoration: none;
    outline: none;
  }
  footer {
    width: 100%;
    background-color: #3b4d9e;
    padding: 50px 0;
    flex-shrink: 0;
    align-items: center;
  }
  
  .contanier-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    padding: 0 15px;
    width: 25%;
  }
  
  .footer-col h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col ul li {
    margin: 10px 0;
  }
  
  .footer-col ul li a {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #6e6c6c;
    padding-left: 10px;
  }
  
  .footer-col .rede-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    transition: all 0.8s ease;
    margin: 5px 5px;
  }
  
  .footer-col .rede-sociais a:hover {
    color: navy;
    background-color: white;
  }
  
  .footer-col .form-insc input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    background-color: rgb(151, 196, 224);
    color: white;
    border: 1px solid white;
  }
  
  .footer-col .form-insc button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: #6a5acd;
    font-weight: 500;
  }
  
  header {
    width: 100%;
    background-color:#3b4d9e;
    padding: 20px 0;
    flex-shrink: 0;
    align-items: center;
  }
  
  .container-header {
    max-width: 1300px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;

  }
  
  .logo h2 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media(max-width: 850px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px
    }
  }
  
  @media(max-width: 600px){
    .footer-col{
        width: 100%;
    }
  }
  @keyframes topdown {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }