body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #444;
    background-color: #c2ecf1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 40px;
}

p {
    text-align: justify;
    margin: 0 20px;
}

a {
    text-decoration: none;
    float: right;
    color: #000000;
    padding-top: 50px;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    color: #777;
}
