@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');


main{
    max-width: 1155px;
}

iframe{
    width: 100%;

}

.info{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(55, 181, 219,0.2);
}


.info span{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}

.name{
    display: inline-flex;
    flex-direction: column;
    padding-left: 20%;
    width: 45%;
    font-size: 18px;
}

